/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Project Name
Version:    1.0
Last change:    24/03/17 [fixed Float bug, vf]
Author Name: Author Name
Primary use:    Project Type
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Table of contents]

1. Body
2.
-------------------------------------------------------------------*/

/*
==========================================
    Reset Css
==========================================
*/
html, 
body{
    width: 100%;
    height: auto;
    font-family: arial;
    font-size: 14px;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* NAVBAR CSS */
.nav-wrppper{
    width: 100%;
    background:#f1f1ff;
    border-bottom: 1px solid #22a732;
}
.logo a{
    display: inline;
    text-decoration: none;
}
.logo a span{
    float: left;
    font-family: arial black;
    font-size: 22px;
    padding: 8px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    background: #22a732;
    border-radius: 50%;
    margin-top: 2px;
}
.menu-header ul{
    float: right;

}
.menu-header ul li{
float: left;
}
.menu-header ul li a{
    display: inline-block;
    font-size: 14px;
    padding: 16px;
    text-decoration: none;
    font-family: arial;
    color: #050405;
    text-transform: uppercase;
    font-weight: 400;   
    transition: .2s;
    
}

.menu-header ul li a:hover{
    background: #22a732;
color: white;
}

/* hero area */
.left-tripple-1 {
    background: url(DSC_6409.jpg);
            widows: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
background-attachment: attachment;
}
.left-tripple-1::after {
    content: "";
    position: absolute;
    width: 100%;
    border-top: 600px solid #f5eeeef0;
    border-left: 1110px solid #150505e0;
    overflow: hidden;
}

    /* my pic */
    .img-div {
        width: 298px;
        position: absolute;
        top: 107px;
        right: 133px;
        height: auto;
    }
    @media (max-width:991) {
        .img-div {
            right: 33px;
        }
    }
    .img-div img {
        width: 100%;
         border: 1px solid; 
        box-shadow: 0px 0px 25px 6px #2a1c1d;
        border-radius: 6px;
    }

    .text-div {
        position: absolute;
        left: 97px;
        top: 294px;
        color: white;
    }

    /* HI */
    .text-div h1 {

        text-align: left;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 43px;
        font-family: arial black;
    
    }
    /* im */
    .text-div h2 {

        font-size: 55px;
        text-transform: uppercase;
        font-weight: 600;
        font-family: arial black;
    
    }
    /* Shaheen Miah */
    .text-div h3 {

        font-size: 55px;
        text-transform: uppercase;
        font-weight: 600;
        font-family: arial black;
    
    }
    /* Web programmer */
    .text-div span {
        font-size: 15px;
        text-transform: capitalize;
        font-weight: 400;
        font-family: arial;
        display: block;
        text-align: end;
    }

/* About */

    /* my pic */
    
    .about-img img {
        width: 100%;
        margin-top: 11px;
            border-radius: 6px;
    }

 
    .title h2 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 600;
        font-family: arial black;
        padding: 63px 0 45px 0;
        text-align: center;
        color: black;
    }
   .about-content-wrapper {
    padding: 33px 28px;
    background: #f8f8f8;
    border-radius: 15px;
    transition: .1s;
}
    .about-content-wrapper:hover {
        box-shadow: 0px 0px 15px -10px black;
    }
    
    .about-text p {

        text-align: justify;
        font-family: arial;
        font-size: 15px;
        line-height: 33px;
        color: black;
        font-weight: 400;
        margin: 8px 0px 21px 9px;
    
    }

    .contant-top-header {
        font-size: 24px;
        border-bottom: 1px solid #ff0e53;
        display: block;
        padding-bottom: 6px;
        text-transform: capitalize;
        font-family: arial black;
        color: black;
    }
    /* Skill-area */
    .cat {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .skill-img img {
        width: 100%;
        margin-top: -11px;
        border-radius: 50%;
    }
    .progress {
        padding: 4px 7px;
        border-radius: 34px;
        background: #1f1d1d;
            background-color: rgb(31, 29, 29);
        background-color: rgb(31, 29, 29);
        background-color: rgb(31, 29, 29);
        height: 13px;
        margin-bottom: 7px;
    }
    .progress-bar {
        width: 85%;
        border-radius: 40px;
        padding: 0px;
        text-align: right;
        height: 4px;
        color: white;
        background: rgb(230, 126, 34) none repeat scroll 0% 0%;
        margin-top: .5px;
    }
    .p-d span {
        color: #fff;
        margin-left: auto;
        display: inline;
        margin-top: -6px;
        padding-right: -3px;
        font-weight: 600;
        color: white;
    }

        .skill-title {
            margin: 0px 0px 1px 10px;
        }
        .skill-title strong {
            text-transform: capitalize;
            font-family: arial;
            display: inline-block;
            color: #003f83;
            font-size: 17px;
            font-weight: 400;
        }
        .width-h{
            width:80%; 
        }
        .width-c{
            width:75%; 
        }
        .width-j{
            width:65%; 
        } 
        .width-b{
            width:83%; 
        } 
        .width-w{
            width:66%; 
        } 
        .width-p{
            width:77%; 
        }


        /* Hire me*/
        .hire-fullwrapper{
            background: url(hire2.jpg);
            background-attachment: attach;
            background-repeat: no-repeat;
            background-size: cover;
             position: relative; 
        }
        .hire-fullwrapper::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: #1d0f0f;
            opacity: .7;
        }
        .standed-padding{
            padding: 33px 28px;
        }

        .w-design {
            background: transparent;
            color: #fff;
            font-family: arial ;
            text-align: justify;
            line-height: 29px;
            padding: 37px;
            border-top-right-radius: 58px;
            text-align: center;
             z-index: 99;
             border: 2px solid #fff;
             transition: .3s;
        }
        .hire-heading span {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
            padding: 9px 0px;
            display: inline-block;
            padding-top: 28px;
            color: #fff;
            transition: .3s;
        }
       
        /* hire Hover*/
       .w-design:hover{
           background: #fff;
           color: black;
          span {
            background: #fff;
            color: black;
           }
       }

       /* Contact */
       .contact-full-wrappewr{
           background: url(contact.jpg);
           background-attachment: attach;
           background-repeat: no-repeat;
           background-size: cover;
            position: relative; 
       }
       .contact-full-wrappewr::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #1d0f0f;
        opacity: .7;
       }

       .name-email-feild {

        margin: 12px 0px;
            margin-top: 12px;
        transition: .1s;
        padding: 18px 14px;
        margin-top: 14px;
    
    }
    .name-email-feild:hover{
      box-shadow: 0px 0px 1px 2px #fff;
    }
    .text-feild {

        transition: .1s;
        padding: 6px 10px;
        margin-top: 6px;
    
    }

    .text-feild:hover{
             box-shadow: 0px 0px 1px 2px #fff;
    }
    .form-button a {

        padding: 7px 0px;
        border: 4px solid #00ff42;
        display: inline-block;
        z-index: 1;
        color: black;
        font-size: 19px;
        background: #00ff42;
        text-align: center;
        text-decoration: none;
        transition: .1s;
        margin-top: 3px;
        border-radius: 5px;
    
    }
    .form-button a:hover{
        background:  white;
        color:black;
    }
/* Text-Side */
.contact-way-wrapper {
    margin: 12px 0px;
    background: #00ff42;
    border-radius: 5px;
    font-family: arial;
    font-weight: 600;
    font-size: 16px;
}
.contact-way-wrapper h4 {
    display: inline-block;
    margin-bottom: 6px;
    color: #151500;
    padding: 14px 63px;
}
.ul-wrapper {
    background: #fff;
    padding-bottom: 16px;
    padding-top: 11px;
}
.contact-way-wrapper ul li a {
    display: block;
    background: #fff;
    text-decoration: none;
    margin: 2px 63px;
    font-weight: 400;
    color: #000;
    border-bottom: 1px solid #ede9e9;
    font-size: 15px;
    transition: .1s;
}
.contact-way-wrapper ul li a:hover {
    color: #20cb4c;
    border-bottom: 1px solid #a49696;
}

/* footer */
.footer-wrpper {
background: #00ff42;
    font-family: arial;
    color: #15150c;
    font-size: 16px;
    width: 100%;
}
.social-icon ul li a {
    display: inline-block;
    padding: 55px 10px;
}
.copright-text {
    text-align: end;
}
.copright-text span {
    padding: 55px 10px;
    display: inline-block;
}

/* -------0-------End */